@model Nop.Plugin.Widgets.TestWidget.Models.PublicInfoModel
@{
    Layout = "";
}

<div class="slider-wrapper theme-custom">
    <div style="color:red" class="TestWidget">
        @{@Model.Text}             
    </div>
</div>